body {

text-align: center;

    background: linear-gradient(to right,grey, black);

color: white;

}

.abc {

    border: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 5px;

}

.def {

background-color: white;
color: black;

}
